.contact_us_master_div {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.contact_us-container {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: auto;
}

.contact_us_box {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 40px;
    height: auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.contact_us_box div b p {
    font-size: 20px;
}


@media only screen and (max-width:700px) {
    .contact_us_box div b p {
        font-size: 14px;
    }
}